.App {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: calc(.75em + .75vw);
  background-color: #fec6cb;
  min-height: 100vh;
  min-width: 100%;
}








